@charset "utf-8";
/* CSS Document */
ul.gal{
	max-width:520px;
	list-style-type:none;
	margin:0px;
	padding:0px;
}

.gal img
{
	border-width: 0px;
	color: inherit;
	padding: 0px;
	vertical-align: top;
	width: 120px;
	height: 120px;
}

ul.gal li
{
	border-width: 0px;
	display: inline;
	float: left;
	margin: 3px;
	padding: 0px;
	position: relative;
}