@charset "utf-8";

/*Adding custom fonts*/
@font-face {
    font-family: VeteranTypewriter;
    src: url('fonts/veterantypewriter-webfont.eot');
    src: url('fonts/veterantypewriter-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/veterantypewriter-webfont.woff') format('woff'),
         url('fonts/veterantypewriter-webfont.ttf') format('truetype'),
         url('fonts/veterantypewriter-webfont.svg#veteran_typewriterregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: VintageTypewriter;
    src: url('fonts/vintagetypewriterone-webfont.eot');
    src: url('fonts/vintagetypewriterone-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/vintagetypewriterone-webfont.woff') format('woff'),
         url('fonts/vintagetypewriterone-webfont.ttf') format('truetype'),
         url('fonts/vintagetypewriterone-webfont.svg#vintagetypewriter_oneregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	background: #dddddd;
  background-image:url('images/Splash.jpg');
  background-repeat:no-repeat;
  background-position:top;
	margin: 0;
	padding: 0;
	color: #000;
	font-family: VintageTypewriter, Helvetica, Arial, sans-serif;
}

/* ~~ this container surrounds all other divs giving them their percentage-based width ~~ */
.container {
  float:left; height:50%; margin-bottom:-120px;
  width: 100%;
}

/*used for the empty div to vertically center the text*/
.float {clear:both; height:240px;}

.content {
  font-size:21px;
  text-align:center;
	margin: 0 auto; 
}

a.header, a.header:link, a.header:visited {
  font-size:48px;
  text-decoration:none;
	color:#fff;
}

a.header:active, a.header:hover, a.header:focus {
  font-size:48px;
  text-decoration:none;
	color:#d1fd04;
} 

ul.nav { 
  padding-left: 0;  /* removes the list padding*/
	list-style: none; /* this removes the list marker */
	margin-top: 40px; /* this creates the space between the header and the navigation */
}
ul.nav li {
  display: inline;
}
ul.nav a, ul.nav a:visited { /* grouping these selectors makes sure that your links retain their button look even after being visited */
  text-decoration: none;
	color: #000;
}
ul.nav a:hover, ul.nav a:active, ul.nav a:focus, ul.nav a.menuselect { /* this changes the background and text color for both mouse and keyboard navigators */
	color: #d1fd04;
}
	
em{ /*emphasises the txt*/
	font-family:VeteranTypewriter, Helvetica, Arial, sans-serif; 
	font-style:normal;
} 
